name: DTO Deploy

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          server-id: pagila
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD

      - name: Deploy package
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
        run: mvn -B deploy -s /home/runner/.m2/settings.xml --no-transfer-progress
        working-directory: pagila-dto