name: DTO Deploy

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          server-id: pagila
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD

      - name: Deploy package
        run: mvn -B deploy --no-transfer-progress